<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PDF</string>
			<key>LSHandlerRank</key>
			<string>Alertnate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>gnorsk</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string></string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
        <string>galpha</string>
        <string>ginfo</string>
		<string>instagram</string>
		<string>pages</string>
		<string>line</string>
		<string>whatsapp</string>
		<string>237962397364838</string>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbauth</string>
		<string>fbauth2</string>
		<string>fb-messenger-api20140430</string>
		<string>fb-messenger-share-api</string>
		<string>fb-messenger-api</string>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
		<string>norgeskart</string>
		<string>yr</string>
		<string>googletranslate</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<false/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>api.openweathermap.org</key>
			<string></string>
		</dict>
	</dict>
    <key>UIAppFonts</key>
    <array>
        <string>Charis-Bold.ttf</string>
        <string>Charis-BoldItalic.ttf</string>
        <string>Charis-Italic.ttf</string>
        <string>Charis-Medium.ttf</string>
        <string>Charis-MediumItalic.ttf</string>
        <string>Charis-Regular.ttf</string>
        <string>Charis-SemiBold.ttf</string>
        <string>Charis-SemiBoldItalic.ttf</string>
    </array>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>$(PRODUCT_NAME) calendar events</string>
	<key>NSCalendarsUsageDescription</key>
	<string>$(PRODUCT_NAME) calendar events</string>
	<key>NSCameraUsageDescription</key>
	<string>Vi trenger tilgang til cameraet for å ta bilder i app</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Vi trenger tilgang for å vise skjulte grupper</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Vi trenger tilgang til stedtjenestene da vi skal vise vise ruten du har tilbakelagt!  (NSLocationAlwaysAndWhenInUseUsageDescription)</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>NSLocationAlwaysUsageDescription trenger tilgang asd asdf asdf asdf </string>
	<key>CFBundleDisplayName</key>
	<string></string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Vi bruker maps in app</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) bruker mikrofonen</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Please allow access to save photo in your photo library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please let me use photo to help you!</string>
	<key>NSPrincipalClass</key>
	<string></string>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.$(PRODUCT_BUNDLE_IDENTIFIER)</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>gPoi</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
   <key>NSSpeechRecognitionUsageDescription</key>
   <string>We need access to your speech for dictation.</string>
   <key>NSMicrophoneUsageDescription</key>
   <string>We need access to the microphone for dictation.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>external-accessory</string>
		<string>fetch</string>
		<string>location</string>
		<string>processing</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>no.1955.gInfo.01</string>
		<string>no.1955.gInfo.02</string>
		<string>no.1955.gInfo.03</string>
		<string>no.1955.gInfo.04</string>
		<string>no.1955.gInfo.05</string>
		<string>no.1955.gInfo.06</string>
		<string>no.1955.gInfo.07</string>
		<string>no.1955.gInfo.08</string>
        <string>no.1955.gNorsk</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>com.apple.security.personal-information.calendars</key>
	<true/>
</dict>
</plist>
